[submodule "nvim"]
	path = nvim
	url = https://github.com/NoamFav/nvim-config
[submodule "zsh"]
	path = zsh
	url = https://github.com/NoamFav/Zsh
[submodule "sketchybar"]
	path = sketchybar
	url = https://github.com/NoamFav/sketchybar

[submodule "aerospace"]
	path = aerospace
	url = https://github.com/NoamFav/aerospace

[submodule "ghostty/shaders"]
	path = ghostty/shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders

[submodule "yazi/flavors/tokyo-night.yazi"]
	path = yazi/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi.git
